# Unreal project folder
/Binaries/
/Intermediate/
/Saved/
/Build/
/Content/SimpleTown/
/Content/StarterContent/
/Content/InfinityBladeEffects/

# Visual studio files
*.opensdf
*.sdf
*.sln
*.suo
*.vs
*.db

# Compiled Object files
*.slo
*.lo
*.o
*.obj